/* @import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&display=swap"); */

* {
    font-family: sans-serif;
}
/* * {
    font-family: "Gothic A1", sans-serif;
} */

body {
    position: relative;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    width: 100vw;

    background-color: #261b5e;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
