@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&display=swap"); */

/* * {
    font-family: sans-serif;
} */
/* * {
    font-family: "Gothic A1", sans-serif;
} */

html {
    background-color: rgb(75 85 99 / 1); /* bg-gray-600 */
}

/* body {
    position: relative;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    width: 100vw;

    /* background-color: #261b5e; * /
    
    /* display: flex;
    justify-content: center;
    align-items: center; * /
}
*/

/* Firefox scrollbars */
.smallscroll {
    --sb-width: 8px;
    scrollbar-color: #666b7a transparent;
    scrollbar-width: thin;
}

/* Chrome scrollbars */
.smallscroll::-webkit-scrollbar {
    width: var(--sb-width);
    height: var(--sb-width);
    background-color: transparent;
}

.smallscroll::-webkit-scrollbar-thumb {
    background-color: #666b7a;
    border-radius: 4px;
}

.overflow-overlay {
    overflow: auto;
}

@supports (overflow: overlay) {
    .overflow-overlay {
        overflow: overlay;
    }
}
